@font-face{

font-family: 'Aniron';
src: url('C:/Users/Егардоз/Desktop/MIDDle Earth map/aniron.ttf');
font-weight: normal;
font-style: normal;
}

body
{
	background-image:  url(img/fon1.jpg);
}
h1
{
	//width: 40px;
	font-family: Aniron;
	
	font-size: 2.5em;
	
}
a
{
	color: gold;
	text-decoration: none;
}
.mainlink
{
	
	position: absolute;
	top: 0%;
	left: 30%;
	width: 45%;
	//color:red;
}
.maplink
{

	width: 10%;
	font-family: Aniron;
	color: gold;
	position:fixed;
	top:5%;
	left:5%;
}
div
{
	font-family: Aniron;
	color: gold;
	
}
.big
{
	font-size: 2.5em;
	color: #FFF273;
	text-decoration: underline;
}
.walv
{

	font-family: Aniron;
	position: fixed;
	top: 8%;
	left: 80%;
	font-size: 1.5em;
}
.lust
{
	color: #FFFF40;
	background-image: url(img/fonn.jpg);
	display: block;
	margin-top: 20%;
	margin-left:10%;
	width: 80%;
	//height: 500px;
	//background-color: #696969;
	
}
footer
{
	//position: absolute;
	width: 100%;
	padding-top: 20px;
	font-family: Aniron;
	color: gold;
	background-color: black;
	
}
.leftimg {
    float:left; 
    margin: 7px 7px 7px 0; 
	margin-left: 7px;
   }
.rightimg  {
    float: right; 
    margin: 7px 0 7px 7px;
	margin-right: 7px;
   }
td
{
	font-family: Aniron;
	color: gold;
}